<div *ngIf="showIs" class="box-notification">
  <div class="box-n_">
    <div class="box-n_inside">
      <h1 *ngIf="stateDew">
        I can't find the Winner is this turn.
      </h1>
      <h1 *ngIf="!stateDew">
        The Winner is <strong>{{ stateBefore }}</strong> Player.
      </h1>
      <button class="btn_restart" (click)="resetVal()">Restart Game</button>
    </div>
  </div>
</div>

<h1 class="text-center font-color">tic tac toe</h1>
<div class="row font-color">
  <div class="div-scores">
    <h3>score X : {{ scoreX }}</h3>
    <h3>score O : {{ scoreO }}</h3>
    <h3>The turn is not the winnder: {{ dewsVal }}</h3>
    <div class="turnDiv">
      <h3>
        turn is <strong>{{ state }}</strong>
      </h3>
    </div>
  </div>

  <div class="box" *ngFor="let item of boxs; let ind = index">
    <div *ngFor="let item2 of boxs; let ind2 = index" class="box-side">
      <div (click)="onClickBox(ind, ind2)" class="box-side-in-side">
        <div class="border-before-text">
          <h1 class="{{ color_click[ind][ind2] }}">
            {{ box_script[ind][ind2] }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
